@use '@/styles/abstract/variables';

textarea,
select,
input {
    border-radius: 12px;
    border: 1px solid transparent;
    background: variables.$color-tory-blue;
    color: variables.$color-white;
    font-family: variables.$font-space-grotesk;
    font-size: 1.2rem;
    line-height: 1.6rem;
    display: block;
    padding: 8px 15px;
    outline: none;
    max-height: fit-content;
    resize: none;

    &::placeholder {
        color: variables.$color-white;
    }
}

input {
    padding: 8px;
}

button {
    background: variables.$color-blue;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    color: variables.$color-white;
    font-feature-settings: 'dlig' on;
    font-weight: variables.$fw-bold;
    line-height: 2.4rem;
    display: flex;
    padding: 9px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    outline: none;
    transition: .3s ease-in-out background-color;

    &:hover {
        background: variables.$color-deep-cove;
    }
}