@use '@/styles/abstract/variables';
@use '@/styles/abstract/mixins';

.CmsPage {
    @include mixins.main-width;

    &__Wrapper {
        padding: 70px 16px 450px;
        background: linear-gradient(
                        180deg,
                        transparent 0,
                        variables.$color-deep-cove-dark 50%,
                        variables.$color-deep-cove-dark 70%,
                        transparent 100%
        );

        @include mixins.after-mobile {
            padding: 130px 16px 450px;
            background: none;
        }
    }

    &__Background {
        z-index: -2;
    }
}