// Main Colors
$color-black: #000;
$color-white: #FFF;
$color-green: #3BBF5E;
$color-green-dark: #145714;
$color-red: #F00;
$color-red-dark: #B22222;
$color-blue: #009FEF;
$color-orange: #F97038;

// Brand Colors
$color-bossanova: #4D3366;
$color-deep-cove: #040F2D;
$color-anakiwa: #96DFFF;
$color-anakiwa-dark: #7DB7D2;

// Fonts
$font-standard-size: 62.5%;
$font-display: swap;
$font-space-grotesk: 'SpaceGrotesk';

$fw-ultra-light: 100;
$fw-thin: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-demi: 600;
$fw-bold: 700;
$fw-heavy: 800;

$fs-normal: normal;
$fs-italic: italic;

$main-width: 1280px;
$main-horizontal-padding: 20px;
$main-horizontal-padding-mobile: 12px;
$header-top-mobile: 40px;