@use '@/styles/abstract/variables';
@use '@/styles/abstract/mixins';

.Orders {
    &__Wrapper {
        @include mixins.small-width;

        margin-top: 84px;
    }

    &__List {
        &__Order {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 18px;
            margin-bottom: 77px;

            @include mixins.after-mobile {
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;
            }


            & > div {
                text-align: center;
                min-width: 117px;

                & > span {
                    margin-bottom: 7px;
                }

                span {
                    font-weight: variables.$fw-medium;
                    line-height: 2.4rem;
                }

                & > div > span {
                    border-radius: 12px;
                    background: variables.$color-tory-blue;
                    display: block;
                    padding: 2px 16px;
                    text-align: center;
                }
            }

            &__Status {
                & > div {
                    text-transform: capitalize;
                }
            }
        }
    }
}
