@use '@/styles/abstract/variables';
@use '@/styles/abstract/mixins';

.HomePage {
    &__Galaxy {
        position: relative;
        background: linear-gradient(180deg, rgba(variables.$color-deep-cove-dark, .8) 70%, transparent 100%);

        &:after {
            content: '';
            background: url('/backgrounds/stars.svg');
            width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -20;
            opacity: .5;
        }
    }
    &__Stars {
        position: relative;
        background: linear-gradient(180deg, rgba(variables.$color-deep-cove-dark, 1) 0, transparent 100%);

        &:after {
            content: '';
            background: url('/backgrounds/stars.png') no-repeat;
            background-size: cover;
            background-size: cover;
            width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -20;
            opacity: 1;
        }
    }
}