@use '@/styles/abstract/variables';
@use '@/styles/abstract/mixins';

.Header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    background: variables.$color-deep-cove;
    border-bottom: 1px solid variables.$color-athens-grey;
    padding: 6px 16px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;

    &__Wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;

        @include mixins.main-width();
    }

    &__Right {
        align-items: center;
        display: flex;
        gap: 36px;
    }

    a {
        align-items: center;
        display: flex;
    }
}