@use '@/styles/abstract/mixins';
@use '@/styles/abstract/variables';

.WelcomeBlock {
    @include mixins.main-width;

    padding-top: 68px;

    @include mixins.after-mobile {
        padding-top: 145px;
    }

    &__Tripple {
        height: 220px;
        position: relative;
        margin-bottom: 110px;

        @include mixins.after-mobile {
            height: 400px;
            max-width: 800px;
            margin: 0 auto 237px;
        }

        h2 {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 2rem;
            line-height: 2rem;
            font-weight: variables.$fw-regular;
            position: absolute;
            border-radius: 50%;
            text-align: center;

            @include mixins.after-mobile {
                font-size: 4.4rem;
                line-height: 4.2rem;
            }

            &:first-of-type {
                width: 130px;
                height: 130px;

                border: 1px solid variables.$color-blue;
                background: variables.$color-deep-cove-dark;
                box-shadow: 0 0 38px 8px variables.$color-blue;

                left: 0;
                bottom: 22px;

                @include mixins.after-mobile {
                    width: 247px;
                    height: 247px;
                }
            }

            &:nth-of-type(2) {
                width: 80px;
                height: 80px;

                border: 1px solid variables.$color-blue;
                background: variables.$color-deep-cove-dark;
                box-shadow: 0 0 33px 7px variables.$color-blue;

                left: 45%;
                bottom: 0;

                @include mixins.after-mobile {
                    width: 152px;
                    height: 152px;
                }
            }

            &:last-of-type {
                width: 152px;
                height: 152px;

                border: 1px solid variables.$color-blue;
                background: variables.$color-deep-cove-dark;
                box-shadow: 0 0 63px 14px variables.$color-blue;

                top: 0;
                right: 0;

                @include mixins.after-mobile {
                    width: 289px;
                    height: 289px;
                }
            }
        }
    }

    &__Single {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 25px;
        margin: 0 auto;

        width: 334px;
        height: 334px;

        border-radius: 50%;
        border: 1px solid variables.$color-blue;
        background: variables.$color-deep-cove-dark;
        box-shadow: 0 0 38px 8px variables.$color-blue;

        color: variables.$color-cyan;
        -webkit-text-stroke-width: 0.44px;
        //-webkit-text-stroke-color: #0B0EDE;

        p {
            font-size: 1rem;
            line-height: 1.6rem;
            text-align: center;
        }

        @include mixins.after-mobile {
            width: 808px;
            height: 808px;

            p {
                font-size: 2.5rem;
                line-height: 4rem;
            }
        }
    }
}