@use '@/styles/abstract/variables';
@use '@/styles/abstract/mixins';

.HeaderLinks {
    &__List {
        align-items: center;
        display: flex;
        gap: 36px;
        list-style-type: none;
        margin: 0;

        &__Item {
            position: relative;
            cursor: pointer;
            user-select: none;

            span {
                color: variables.$color-white;
                font-weight: variables.$fw-medium;
                text-shadow: 0 3px 3.2px rgba(0, 51, 248, 0.25);
                font-size: 1.4rem;
                line-height: 2.1rem;
                transition: .2s ease-in-out color;
            }

            &:hover {
                span {
                    color: variables.$color-anakiwa;
                }
            }
        }
    }
}