@use '@/styles/abstract/mixins';
@use '@/styles/abstract/variables';

.Banner {
    position: relative;
    width: 100%;
    min-height: 208px;

    @include mixins.after-mobile {
        min-height: 739px;
        max-width: variables.$main-width;
        margin: 0 auto;
    }

    &__Wrapper {
        position: relative;
    }

    &__Actions {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 35px;
        z-index: 2;
        text-align: center;
        margin-top: 13px;
        padding: 0 variables.$main-horizontal-padding;
        width: 100%;

        &_active {
            h1 {
                max-width: 600px !important;
            }
        }

        @include mixins.after-mobile {
            gap: 32px;
            position: absolute;
            margin-top: 0;
            bottom: 72px;
            padding: 0;
        }
    }

    h1 {
        font-feature-settings: 'dlig' on;
        font-size: 4.0rem;
        letter-spacing: -2px;
        max-width: 767px;

        @include mixins.after-mobile {
            font-size: 4.8rem;
        }
    }

    img {
        border-radius: 12px;
    }
}